:root {
    --color-principal: #18181B;
    --color-fuente: #A970DA;
    --background: #3c2d43;
    --background-ham: #26262a;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-family: 'Poppins', sans-serif;
    color: var(--color-fuente);
}

h3{
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    color: var(--color-fuente);
}

h6{
    color: var(--color-fuente);
    text-decoration: underline;
}

body{
    background-color: var(--background);
}


.ourNavbar{
    background-color: var(--color-principal);
    height: 100px;
    display: flex;
    justify-content: center;
}

.nav-list{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 0;
}

.list-element{
    list-style: none;
    width: 200px;
    height: 40px;
    margin-right: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
}

.list-element-logo{
    list-style: none;
    width: 50px;
    height: 40px;
    display: flex;
    align-items: center;
}

.logo{
    height: 70px;
    -webkit-user-drag: none;
}

.list-element a{
    position: relative;
    text-decoration: none;
    padding: 0px 10px 0px 10px;
    color: var(--color-fuente);
}

.link-con-after:after{
    background-color: #FFF !important;
}

.list-element a:after{
    content: "";
    position: absolute;
    background-color: var(--color-fuente);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.list-element a:hover::after{
    width: 100%;
}

.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #check{
    display: none;
  }

  .titulo{
    display: none;
  }

section{
    margin-top: 100px;
    margin: 50px 0px 50px 0px;
    display: flex;
    justify-content: center;
    align-items: normal;
}

.estado-container{
    width: 800px;
    height: 250px;
    margin-right: 25px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--background-ham);
}

.ticket-container{
    width: 350px;
    height: 700px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: var(--background-ham);
    border-radius: 0px 20px 20px 0px;
}

.logo-seguimiento{
    height: 200px;
    margin-top: 25px;
}
.ticket-container p{
    font-weight: bold;
}

.ticket-container h6{
    margin: 20px;
}

footer{
    height: 200px;
    background-color: var(--color-principal);
    display: flex; 
    justify-content: center;
    align-items: center;
}

.logo-footer{
    height: 150px;
    margin-right: 10rem;
    -webkit-user-drag: none;
}

.contacto{
    list-style: none;
    font-weight: bold;
    margin-top: 10px;
}

.contacto li{
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    color: var(--color-fuente);
}

/*estilos del switch*/

    /* el contenedor base */
    .switch {
        position: relative;
        display: inline-block;
        width: 60px;
        height: 30px;
    }
  
  /* aplicamos las propiedades al checkbox */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000000;
    border: solid 1px var(--color-fuente);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 23px;
    left: 4px;
    bottom: 4px;
    background-color: var(--color-fuente);
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  /*cuando queda el checkbox activado modificamos las propiedades del slider*/
  input:checked + .slider {
    background-color: #ffffff;
    border: solid 1px rgb(52, 108, 230);
  }

  
  input:checked + .slider:before{
    background-color: rgb(52, 108, 230);
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #switch-container{
    margin: 0;
  }

  #switch{
    width: 20px;
  }

  #idioma{
    background-color: var(--background-ham) !important;
    color: var(--color-fuente);
  }

  .dropdown-menu{
    background-color: #3c2d43;
  }

  .dropdown-menu li a:hover::after{
    width: 0;
  }



@media only screen and (min-width:0px) and (max-width:425px){
    
    .ourNavbar{
        height: 60px;
        justify-content:space-between;
        align-items: center;
    }

    .checkbtn{
        display: flex;
        align-items: center;
        margin: 0px;
        height: 60px;
      }

    .hamburguesa{
        height: 30px;
        margin: 0px 0px 0px 10px;
        background-color: var(--color-fuente);
        border-radius: 4px;
    }

    .titulo{
        display: flex;
        margin: 0;
        font-family: 'Poppins', sans-serif;
    }

    .logo-menu-hamburguesa{
        display: flex;
        height: 30px;
        margin: 0 20px 0px 0;
    }

    .nav-list{
        position: fixed;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 80vw;
        height: 90vh;
        left: -100vw;
        top: 60px;
        font-size: 10px;
        transition: all .5s;
        z-index: 2;
        background-color: var(--background-ham);
    }

    .logo{
        display: none;
    }

    nav ul li a {
        font-size: 20px;
    }
  
    a:hover,a.active {
        background: none;
    }
  
    #check:checked ~ ul {
        left: 0;
    }

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .estado-container{
        display: flex;
        width: 250px;
        margin: 0px 0px 20px 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .ticket-container{
        width: 250px;
        border-radius: 0;
        height: 500px;
    }

    .logo-seguimiento{
        height: 100px;
    }

    footer{
        height: 150px;
    }
    
    .logo-footer{
        height: 100px;
        margin-right: 20px;
    }

    .contacto li{
        font-size: 11px;
        margin-bottom: 0px;
    }

    .p-tema{
        font-size: 20px;
      }

}

@media only screen and (min-width:321px) and (max-width:425px){

    .nav-list{
        position: fixed;
        width: 70vw;
        height: 90vh;
        left: -100vw;
        top: 60px;
        font-size: 10px;
        transition: all .5s;
        z-index: 2;
        background-color: var(--background-ham);
    }

    .list-element{
        margin: 0 10 0 0px;
    }

    .p-tema{
        font-size: 20px;
      }

} 

